@model External.RadProApp.ViewModel.EmailViewModel
@{
    ViewBag.Title = "Radio Antenna Developers";
}
<script src='https://www.google.com/recaptcha/api.js'></script>
<main id="main">
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro" class="clearfix">
        <div class="container">
            <div class="intro-img">
                <div class="card-img-overlay" id="radioFrequency"><canvas width="1920" height="937"></canvas></div>
            </div>
            <section>
                <img src="https://radprosite.com/Image/site/linked-inImage.png" style="filter: drop-shadow(3px 3px 3px #000); height: 180px; width: auto;" alt="Radio Antenna Developers">
            </section>
            <div>
                <h4 style="color:#fff;">
                    <span class="text-light shadow-lg"><b>R</b></span>adio<br><span class="text-light"><b>A</b></span>ntenna<br><span class="text-light"><b>D</b></span>evelopers <sup>
                        <span class="text-light" style="margin-left: 0; padding-right: 25px;">
                            <span style="font-size: .75em;"><i><b>ProSite</b></i></span>
                            <sup><span class="text-light fa fa-pied-piper"></span></sup>
                        </span>
                    </sup>
                </h4>
                <br />
                @if (User.Identity.IsAuthenticated)
                {
             
                    <div class="intro-info list-horizontal">
                        <ul style="display: inline-flex;">
                            <li style="z-index: 100;"><a class="btn-get-started scrollto" href="/Dashboard/Overview">Dashboard</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    @Html.Partial("_LoginPartial")
                }
            </div>
        </div>
    </section>
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        @if (@Model != null)
        {
            for (var i = 0; i < Model.GetLandingPageData.Count; i++)
            {
                if (Model.GetLandingPageData[i].One != null)
                {
        <div class="container">
            <header class="section-header" align="center">
                <h5><b>@Model.GetLandingPageData[i].One</b></h5>

                <div class="row">
                    @Model.GetLandingPageData[i].Two.Substring(0, 200)
                    <br />
                    <p style="z-index: 100001;">
                        <a class="btn btn-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Learn more...
                        </a>
                    </p>
                </div>
            </header>

            <div class="collapse" id="collapseExample">
                <div class="card card-body bg-transparent text-dark">
                    <span class="text-warning">...Continued </span> @Model.GetLandingPageData[i].Two.Substring(190) 
                </div>
            </div>
            <br /><br />
            <div class="row about-container">
                <div class="col-lg-6 content order-lg-1 order-2">
                    <p>@Model.GetLandingPageData[i].Three</p>
                    <div class="icon-box wow fadeInUp">
                        <div class="icon"><i class="fa fa-plus"></i></div>
                        <h4 class="title"><a href="">@Model.GetLandingPageData[i].Four</a></h4>
                        <p class="description"> @Model.GetLandingPageData[i].Five</p>
                    </div>
                    <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon"><i class="fa fa-photo"></i></div>
                        <h4 class="title"><a href="">@Model.GetLandingPageData[i].Six</a></h4>
                        <p class="description"> @Model.GetLandingPageData[i].Seven</p>
                    </div>

                    <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon"><i class="fa fa-bar-chart"></i></div>
                        <h4 class="title"><a href="">@Model.GetLandingPageData[i].Eight</a></h4>
                        <p class="description">@Model.GetLandingPageData[i].Nine</p>
                    </div>

                </div>

                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
                    <img src="~/Image/site/about-img.svg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="row about-extra">
                <div class="col-lg-6 wow fadeInUp">
                    <img src="~/Image/site/about-extra-1.svg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                    <h4>@Model.GetLandingPageData[i].Ten</h4>
                    <p>
                        @Model.GetLandingPageData[i].Eleven
                    </p>
                    <p>
                        @Model.GetLandingPageData[i].Tweleve
                    </p>
                </div>
            </div>

            <div class="row about-extra">
                <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
                    <img src="~/Image/site/about-extra-2.svg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
                    <h4>@Model.GetLandingPageData[i].Thirteen</h4>
                    <p>
                        @Model.GetLandingPageData[i].Fourteen
                    </p>
                    <p>
                        @Model.GetLandingPageData[i].Fifteen
                    </p>
                    <p>
                        @Model.GetLandingPageData[i].Seventeen
                    </p>
                </div>

            </div>

        </div>
                }
            }
        }
    </section><!-- #about -->
    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
        @if (@Model != null)
        {
            for (var i = 0; i < Model.GetLandingPageData.Count; i++)
            {
                if (Model.GetLandingPageData[i].One != null)
                {
                    <div class="container">

                        <header class="section-header">
                            <h3> @Model.GetLandingPageData[i].Eighteen</h3>
                            <p> @Model.GetLandingPageData[i].Nineteen</p>
                        </header>

                        <div class="row">
                            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
                                <div class="box">
                                    <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                                    <h4 class="title"><a href=""> @Model.GetLandingPageData[i].Twenty</a></h4>
                                    <p class="description"> @Model.GetLandingPageData[i].TwentyOne</p>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
                                <div class="box">
                                    <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
                                    <h4 class="title"><a href=""> @Model.GetLandingPageData[i].TwentyTwo</a></h4>
                                    <p class="description"> @Model.GetLandingPageData[i].TwentyThree</p>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                                <div class="box">
                                    <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                                    <h4 class="title"><a href=""> @Model.GetLandingPageData[i].TwentyFour</a></h4>
                                    <p class="description"> @Model.GetLandingPageData[i].TwentyFive</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                                <div class="box">
                                    <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
                                    <h4 class="title"><a href=""> @Model.GetLandingPageData[i].TwentySIx</a></h4>
                                    <p class="description"> @Model.GetLandingPageData[i].TwentySeven</p>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                                <div class="box">
                                    <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
                                    <h4 class="title"><a href=""> @Model.GetLandingPageData[i].TwentyEight</a></h4>
                                    <p class="description"> @Model.GetLandingPageData[i].TwentyNine</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
                                <div class="box">
                                    <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
                                    <h4 class="title"><a href=""> @Model.GetLandingPageData[i].Thirty</a></h4>
                                    <p class="description"> @Model.GetLandingPageData[i].ThirtyOne</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </section><!-- #services -->
    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
        @if (@Model != null)
        {
            for (var i = 0; i < Model.GetLandingPageData.Count; i++)
            {
                if (Model.GetLandingPageData[i].One != null)
                {
                    <div class="container">
                        <header class="section-header">
                            <h3> @Model.GetLandingPageData[i].ThirtyTwo</h3>
                            <p> @Model.GetLandingPageData[i].ThirtyThree</p>
                        </header>

                        <div class="row row-eq-height justify-content-center">
                            <div class="col-lg-4 mb-4">
                                <div class="card wow bounceInUp">
                                    <i class="fa fa-diamond"></i>
                                    <div class="card-body">
                                        <h5 class="card-title"> @Model.GetLandingPageData[i].ThirtyFour</h5>
                                        <p class="card-text"> @Model.GetLandingPageData[i].ThirtyFive</p>
                                        <a href="#" class="readmore">Read more </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-4">
                                <div class="card wow bounceInUp">
                                    <i class="fa fa-language"></i>
                                    <div class="card-body">
                                        <h5 class="card-title"> @Model.GetLandingPageData[i].ThirtySix</h5>
                                        <p class="card-text"> @Model.GetLandingPageData[i].ThirtySeven</p>
                                        <a href="#" class="readmore">Read more </a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-4">
                                <div class="card wow bounceInUp">
                                    <i class="fa fa-object-group"></i>
                                    <div class="card-body">
                                        <h5 class="card-title"> @Model.GetLandingPageData[i].ThirtyEight</h5>
                                        <p class="card-text"> @Model.GetLandingPageData[i].ThirtyNine </p>
                                        <a href="#" class="readmore">Read more </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row counters">

                            <div class="col-lg-3 col-6 text-center">
                                <span data-toggle="counter-up">274</span>
                                <p>Clients</p>
                            </div>

                            <div class="col-lg-3 col-6 text-center">
                                <span data-toggle="counter-up">421</span>
                                <p>Projects</p>
                            </div>

                            <div class="col-lg-3 col-6 text-center">
                                <span data-toggle="counter-up">1,364</span>
                                <p>Hours Of Support</p>
                            </div>

                            <div class="col-lg-3 col-6 text-center">
                                <span data-toggle="counter-up">18</span>
                                <p>Hard Workers</p>
                            </div>

                        </div>

                    </div>
                }
            }
        }
    </section>
    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="clearfix">
        <div class="container">

            <header class="section-header">
                <h3 class="section-title">Our Portfolio</h3>
            </header>

            <div class="row">
                <div class="col-lg-12">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Card</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/Image/site/portfolio/app1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4><a href="#">App 1</a></h4>
                            <p>App</p>
                            <div>
                                <a href="~/Image/site/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <img src="~/Image/site/portfolio/web3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4><a href="#">Web 3</a></h4>
                            <p>Web</p>
                            <div>
                                <a href="~/Image/site/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <img src="~/Image/site/portfolio/app2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4><a href="#">App 2</a></h4>
                            <p>App</p>
                            <div>
                                <a href="~/Image/site/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/Image/site/portfolio/card2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4><a href="#">Card 2</a></h4>
                            <p>Card</p>
                            <div>
                                <a href="~/Image/site/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <img src="~/Image/site/portfolio/web2.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4><a href="#">Web 2</a></h4>
                            <p>Web</p>
                            <div>
                                <a href="~/Image/site/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <img src="~/Image/site/portfolio/app3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4><a href="#">App 3</a></h4>
                            <p>App</p>
                            <div>
                                <a href="~/Image/site/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/Image/site/portfolio/card1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4><a href="#">Card 1</a></h4>
                            <p>Card</p>
                            <div>
                                <a href="~/Image/site/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card" data-wow-delay="0.1s">
                    <div class="portfolio-wrap">
                        <img src="~/Image/site//portfolio/card3.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4><a href="#">Card 3</a></h4>
                            <p>Card</p>
                            <div>
                                <a href="~/Image/site/portfolio/card3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 3" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
                    <div class="portfolio-wrap">
                        <img src="~/Image/site/portfolio/web1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4><a href="#">Web 1</a></h4>
                            <p>Web</p>
                            <div>
                                <a href="~/Image/site/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="Preview"><i class="ion ion-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- #portfolio -->
    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg">
        <div class="container">

            <header class="section-header">
                <h3>Testimonials</h3>
            </header>

            <div class="row justify-content-center">
                <div class="col-lg-8">

                    <div class="owl-carousel testimonials-carousel wow fadeInUp">

                        <div class="testimonial-item">
                            <img src="~/Image/site/testimonial-1.jpg" class="testimonial-img" alt="">
                            <h3>Saul Goodman</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <p>
                                Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="~/Image/site/testimonial-2.jpg" class="testimonial-img" alt="">
                            <h3>Sara Wilsson</h3>
                            <h4>Designer</h4>
                            <p>
                                Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="~/Image/site/testimonial-3.jpg" class="testimonial-img" alt="">
                            <h3>Jena Karlis</h3>
                            <h4>Store Owner</h4>
                            <p>
                                Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="~/Image/site/testimonial-4.jpg" class="testimonial-img" alt="">
                            <h3>Matt Brandon</h3>
                            <h4>Freelancer</h4>
                            <p>
                                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="~/Image/site/testimonial-5.jpg" class="testimonial-img" alt="">
                            <h3>John Larson</h3>
                            <h4>Entrepreneur</h4>
                            <p>
                                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                            </p>
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </section><!-- #testimonials -->
    <!--==========================
      Team Section
    ============================-->
    <section id="team">
        @if (@Model != null)
        {
            for (var i = 0; i < Model.GetLandingPageData.Count; i++)
            {
                if (Model.GetLandingPageData[i].One != null)
                {
                    <div class="container">
                        <div class="section-header">
                            <h3> @Model.GetLandingPageData[i].Fourty</h3>
                            <p> @Model.GetLandingPageData[i].FourtyOne</p>
                        </div>

                        <div class="row">

                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                <div class="member">
                                    <img src="~/Image/site/team-2.jpg" class="img-fluid" alt="">
                                    <div class="member-info">
                                        <div class="member-info-content">
                                            <h4>Sarah Jhonson</h4>
                                            <span>Product Manager</span>
                                            <div class="social">
                                                <a href=""><i class="fa fa-twitter"></i></a>
                                                <a href=""><i class="fa fa-facebook"></i></a>
                                                <a href=""><i class="fa fa-google-plus"></i></a>
                                                <a href=""><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                                <div class="member">
                                    <img src="~/Image/site/team-3.jpg" class="img-fluid" alt="">
                                    <div class="member-info">
                                        <div class="member-info-content">
                                            <h4>William Anderson</h4>
                                            <span>CTO</span>
                                            <div class="social">
                                                <a href=""><i class="fa fa-twitter"></i></a>
                                                <a href=""><i class="fa fa-facebook"></i></a>
                                                <a href=""><i class="fa fa-google-plus"></i></a>
                                                <a href=""><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="member">
                                    <img src="~/Image/site/team-4.jpg" class="img-fluid" alt="">
                                    <div class="member-info">
                                        <div class="member-info-content">
                                            <h4>Amanda Jepson</h4>
                                            <span>Accountant</span>
                                            <div class="social">
                                                <a href=""><i class="fa fa-twitter"></i></a>
                                                <a href=""><i class="fa fa-facebook"></i></a>
                                                <a href=""><i class="fa fa-google-plus"></i></a>
                                                <a href=""><i class="fa fa-linkedin"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                }
            }
        }
    </section><!-- #team -->
    <!--==========================
      Clients Section
    ============================-->
    <section id="clients" class="section-bg">

        <div class="container">

            <div class="section-header">
                <h3>Our Clients</h3>
                <p>It has been my pleasure to provide services to the following.</p>
            </div>

            <div class="row no-gutters clients-wrap clearfix wow fadeInUp">

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="~/Image/site/clients/client-1.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="~/Image/site/clients/client-2.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="~/Image/site/clients/client-3.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="~/Image/site/clients/client-4.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="~/Image/site/clients/client-5.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="~/Image/site/clients/client-6.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="~/Image/site/clients/client-7.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="client-logo">
                        <img src="~/Image/site/clients/client-8.png" class="img-fluid" alt="">
                    </div>
                </div>

            </div>

        </div>

    </section>
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
        @if (@Model != null)
        {
            for (var i = 0; i < Model.GetLandingPageData.Count; i++)
            {
                if (Model.GetLandingPageData[i].One != null)
                {
                    <div class="container-fluid">

                        <div class="section-header">
                            <h3>Contact Us</h3>
                        </div>

                        <div class="row wow fadeInUp">

                            <div class="col-lg-6">
                                <div class="map mb-4 mb-lg-0">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 312px;" allowfullscreen></iframe>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-md-5 info">
                                        <i class="ion-ios-location-outline"></i>
                                        <p> @Model.GetLandingPageData[i].fourtyTwo</p>
                                    </div>
                                    <div class="col-md-4 info">
                                        <i class="ion-ios-email-outline"></i>
                                        <p> @Model.GetLandingPageData[i].FourtyThree</p>
                                    </div>
                                    <div class="col-md-3 info">
                                        <i class="ion-ios-telephone-outline"></i>
                                        <p> @Model.GetLandingPageData[i].FourtyFour</p>
                                    </div>
                                </div>
                                @using (Html.BeginForm(new { @class = "contactForm" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Name" })
                                                <p class="text-danger">@Html.ValidationMessageFor(x => x.Name)</p>
                                            </div>
                                            <div class="form-group col-md-6">
                                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email" })
                                                <p class="text-danger">@Html.ValidationMessageFor(x => x.Email)</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @id = "phoneNumber1", @placeholder = "Phone" })
                                            <p class="text-danger">@Html.ValidationMessageFor(x => x.Phone)</p>
                                        </div>
                                        <div class="form-group">
                                            @Html.TextAreaFor(x => x.Message, new { @class = "form-control", @placeholder = "Message", @col = "40", @row = "5" })
                                            <p class="text-danger">@Html.ValidationMessageFor(x => x.Message)</p>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-xs-6">
                                                <div class="g-recaptcha" data-sitekey='6LdGZr4UAAAAAKu6qkTeRchjv9GIbheQHsVXDQKO'></div>
                                            </div>
                                            <div class="form-group col-xs-6">
                                                <input class="btn btn-primary btn-lg" type="submit" value="submit" />
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </section><!-- #contact -->

</main>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/register.js"></script><!-- #holds the telephone script. being lazy! -->
}

