@model DAL.Radio.Model.LandingPage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LandingPage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.One)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.One)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Two)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Two)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Three)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Three)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Four)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Four)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Five)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Five)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Six)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Six)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eleven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eleven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tweleve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tweleve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thirteen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thirteen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fourteen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fourteen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fifteen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fifteen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seventeen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seventeen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eighteen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eighteen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nineteen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nineteen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Twenty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Twenty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwentyOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwentyOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwentyTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwentyTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwentyThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwentyThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwentyFour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwentyFour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwentyFive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwentyFive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwentySIx)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwentySIx)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwentySeven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwentySeven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwentyEight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwentyEight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TwentyNine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TwentyNine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thirty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thirty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirtyOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirtyOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirtyTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirtyTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirtyThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirtyThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirtyFour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirtyFour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirtyFive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirtyFive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirtySix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirtySix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirtySeven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirtySeven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirtyEight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirtyEight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirtyNine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirtyNine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fourty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fourty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FourtyOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FourtyOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fourtyTwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fourtyTwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FourtyThree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FourtyThree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FourtyFour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FourtyFour)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LandingPageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
