@model External.RadProApp.Models.LoginViewModel

@{
    ViewBag.Title = "Welcome";
}
<style>
    .box {
        position: relative;
        top: 0;
        opacity: 1;
        float: left;
        padding: 60px 50px 40px 50px;
        width: 100%;
        background: rgba(255, 255, 255, 0.00);
        border-radius: 10px;
        transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        z-index: 5;
    }

        .box.back {
            transform: scale(.95);
            -webkit-transform: scale(.95);
            -ms-transform: scale(.95);
            top: -20px;
            opacity: .8;
            z-index: -1;
        }

        .box:before {
            content: "";
            width: 100%;
            height: 30px;
            border-radius: 10px;
            position: absolute;
            top: -10px;
            background: rgba(255, 255, 255, .6);
            left: 0;
            transform: scale(.95);
            -webkit-transform: scale(.95);
            -ms-transform: scale(.95);
            z-index: -1;
        }

    element.style {
        width: 70px;
        height: 70px;
    }

    .overbox .title {
        color: #fff;
    }

        .overbox .title:before {
            background: #fff;
        }

    .title {
        width: 100%;
        float: left;
        line-height: 46px;
        font-size: 34px;
        font-weight: 700;
        letter-spacing: 2px;
        color: #5a2819;
        position: relative;
    }

        .title:before {
            content: "";
            width: 5px;
            height: 100%;
            position: absolute;
            top: 0;
            left: -50px;
            background: #5a2819;
        }

    .input,
    .input label,
    .input input,
    .input .spin,
    .button,
    .button button .button.login button i.fa,
    .material-button .shape:before,
    .material-button .shape:after,
    .button.login button {
        transition: 300ms cubic-bezier(.4, 0, .2, 1);
        -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
        -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
    }

    .material-button,
    .alt-2,
    .material-button .shape,
    .alt-2 .shape,
    .box {
        transition: 400ms cubic-bezier(.4, 0, .2, 1);
        -webkit-transition: 400ms cubic-bezier(.4, 0, .2, 1);
        -ms-transition: 400ms cubic-bezier(.4, 0, .2, 1);
    }

    .input,
    .input label,
    .input input,
    .input .spin,
    .button,
    .button button {
        width: 100%;
        float: left;
    }

    .input,
    .button {
        margin-top: 30px;
        height: 70px;
    }

        .input,
        .input input,
        .button,
        .button button {
            position: relative;
        }

            .input input {
                height: 60px;
                top: 10px;
                border: none;
                background: transparent;
            }

            .input input,
            .input label,
            .button button {
                font-family: 'Roboto', sans-serif;
                font-size: 24px;
                color: rgba(0, 0, 0, 0.8);
                font-weight: 300;
            }

            .input:before,
            .input .spin {
                width: 100%;
                height: 1px;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .input:before {
                content: "";
                background: rgba(0, 0, 0, 0.1);
                z-index: 3;
            }

            .input .spin {
                background: #ED2553;
                z-index: 4;
                width: 0;
            }

    .overbox .input .spin {
        background: rgba(255, 255, 255, 1);
    }

    .overbox .input:before {
        background: rgba(255, 255, 255, 0.5);
    }

    .input label {
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 2;
        cursor: pointer;
        line-height: 60px;
    }

    .button.login {
        width: 60%;
        left: 20%;
    }

        .button.login button,
        .button button {
            width: 100%;
            line-height: 64px;
            left: 0%;
            background-color: transparent;
            border: 3px solid rgba(0, 0, 0, 0.1);
            font-weight: 900;
            font-size: 18px;
            color: rgba(0, 0, 0, 0.2);
        }

    .button.login {
        margin-top: 30px;
    }

    .button {
        margin-top: 20px;
    }

        .button button {
            background-color: #fff;
            color: #ED2553;
            border: none;
        }

        .button.login button.active {
            border: 3px solid transparent;
            color: #fff !important;
        }

            .button.login button.active span {
                opacity: 0;
                transform: scale(0);
                -webkit-transform: scale(0);
                -ms-transform: scale(0);
            }

            .button.login button.active i.fa {
                opacity: 1;
                transform: scale(1) rotate(-0deg);
                -webkit-transform: scale(1) rotate(-0deg);
                -ms-transform: scale(1) rotate(-0deg);
            }

        .button.login button i.fa {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            line-height: 60px;
            transform: scale(0) rotate(-45deg);
            -webkit-transform: scale(0) rotate(-45deg);
            -ms-transform: scale(0) rotate(-45deg);
        }

        .button.login button:hover {
            color: #5a2819;
            border-color: #5a2819;
        }

    .button {
        margin: 40px 0;
        overflow: hidden;
        z-index: 2;
    }

        .button button {
            cursor: pointer;
            position: relative;
            z-index: 2;
        }

    .pass-forgot {
        width: 100%;
        float: left;
        text-align: center;
        color: rgba(0, 0, 0, 0.4);
        font-size: 18px;
    }

    .click-efect {
        position: absolute;
        top: 0;
        left: 0;
        background: #5b281b;
        border-radius: 50%;
    }

    .overbox {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: inherit;
        border-radius: 10px;
    }

        .overbox .title,
        .overbox .button,
        .overbox .input {
            z-index: 111;
            position: relative;
            color: #fff !important;
            display: none;
        }

        .overbox .title {
            width: 80%;
        }

        .overbox .input {
            margin-top: 20px;
        }

            .overbox .input input,
            .overbox .input label {
                color: #fff;
            }

        .overbox .material-button,
        .overbox .material-button .shape,
        .overbox .alt-2,
        .overbox .alt-2 .shape {
            display: block;
        }

    .material-button,
    .alt-2 {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: url(https://cdn0.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/512/social_linkedin_button_blue.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        top: 10%;
        right: 40%;
        cursor: pointer;
        z-index: 100;
        transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
    }

        .material-button .shape,
        .alt-2 .shape {
            position: absolute;
            top: -30px;
            right: 100px;
            width: 80%;
            height: 80%;
        }

            .material-button .shape:before,
            .alt-2 .shape:before,
            .material-button .shape:after,
            .alt-2 .shape:after {
                content: "";
                background: #fff;
                position: absolute;
                top: 100%;
                left: 100%;
                transform: translate(-50%, -50%) rotate(360deg);
                -webkit-transform: translate(-50%, -50%) rotate(360deg);
                -ms-transform: translate(-50%, -50%) rotate(360deg);
            }

            .material-button .shape:before,
            .alt-2 .shape:before {
                width: 25px;
                height: 4px;
            }

            .material-button .shape:after,
            .alt-2 .shape:after {
                height: 25px;
                width: 4px;
            }

        .material-button.active,
        .alt-2.active {
            top: 50%;
            right: 50% !important;
            transform: translate(50%, -50%) rotate(0deg);
            -webkit-transform: translate(50%, -50%) rotate(0deg);
            -ms-transform: translate(50%, -50%) rotate(0deg);
        }

    .container {
        /*background-image: url(/Image/site/intro-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;*/
        min-height: 100vh;
        font-family: 'Roboto', sans-serif;
    }

    body,
    html {
        overflow-x: hidden;
    }

    .materialContainer {
        width: 100%;
        max-width: 460px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    *,
    *:after,
    *::before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style-type: none;
        outline: none;
    }
</style>
<section id="loginForm">
    <div class="container" style="margin-top: 5%;">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="materialContainer">
                <div class="box">
                    <div class="title">Local Account</div>
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                        <br />
                                        <a id="showTermsofService" href="#">TOS and Privacy</a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Log in" onclick="return validateData();" class="button" />
                            </div>
                        }
                    </section>
                    <a href="/Account/ForgotPassword" class="pass-forgot">Forgot your password?</a>
                    <a href="/Account/Register" class="pass-forgot">Register?</a>
                </div>
                <div class="overbox">
                    <div style="right: 50px;" class="material-button alt-2">
                        <small style="line-height: .2;">
                        </small>
                    </div>
                    <div>
                        @Html.Partial("_ExternalLoginsListPartial", new External.RadProApp.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </div>
                </div>
            </div>
        }
    </div>
</section>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#showTermsofService").on("click", function () {
                Swal.fire({
                    title: 'Nope!',
                    text: 'We do not sell, trade, or market personal or company data. We collect only what we need for you to use the site. That is it! Email, Address, and Telephone are kept private and never sold. We take this seriously. If you login with linked-In we capture your email, work history, achievements, and certifications - and build a resume using our one click hire a pro feature to a tower foreman within your work radius. Google Maps Api is on our side, we share nothing with Google and Google is not capturing our cookies. All our Cookies are private for the use of the application and when you login using Linked-In we stringly suggest that you read their cookie policy. RadProsSite does not SELL TRADE OR BARDER YOUR DATA. Thank you. ',
                    imageUrl: 'https://radprosite.com/Image/site/linked-inImage.png',
                    imageWidth: 250,
                    imageHeight: 250,
                    imageAlt: 'Custom image',
                    animation: false
                })
            });
        });
    </script>
    <script>
        $(function () {

            $(".input input").focus(function () {

                $(this).parent(".input").each(function () {
                    $("label", this).css({
                        "line-height": "18px",
                        "font-size": "18px",
                        "font-weight": "100",
                        "top": "0px"
                    })
                    $(".spin", this).css({
                        "width": "100%"
                    })
                });
            }).blur(function () {
                $(".spin").css({
                    "width": "0px"
                })
                if ($(this).val() == "") {
                    $(this).parent(".input").each(function () {
                        $("label", this).css({
                            "line-height": "60px",
                            "font-size": "24px",
                            "font-weight": "300",
                            "top": "10px"
                        })
                    });

                }
            });

            $(".button").click(function (e) {
                var pX = e.pageX,
                    pY = e.pageY,
                    oX = parseInt($(this).offset().left),
                    oY = parseInt($(this).offset().top);

                $(this).append('<span class="click-efect x-' + oX + ' y-' + oY + '" style="margin-left:' + (pX - oX) + 'px;margin-top:' + (pY - oY) + 'px;"></span>')
                $('.x-' + oX + '.y-' + oY + '').animate({
                    "width": "500px",
                    "height": "500px",
                    "top": "-250px",
                    "left": "-250px",

                }, 800);
                $("button", this).addClass('active');
            })

            $(".alt-2").click(function () {
                if (!$(this).hasClass('material-button')) {
                    $(".shape").css({
                        "width": "80%",
                        "height": "80%",
                        "transform": "rotate(0deg)"
                    })

                    setTimeout(function () {
                        $(".overbox").css({
                            "overflow": "initial"
                        })
                    }, 600)

                    $(this).animate({
                        "width": "70px",
                        "height": "70px"
                    }, 500, function () {
                        $(".box").removeClass("back");

                        $(this).removeClass('active')
                    });

                    $(".overbox .title").fadeOut(300);
                    $(".overbox .input").fadeOut(300);
                    $(".overbox .button").fadeOut(300);

                    $(".alt-2").addClass('material-buton');
                }

            })

            $(".material-button").click(function () {

                if ($(this).hasClass('material-button')) {
                    setTimeout(function () {
                        $(".overbox").css({
                            "overflow": "hidden"
                        })
                        $(".box").addClass("back");
                    }, 200)
                    $(this).addClass('active').animate({
                        "width": "300px",
                        "height": "300px"
                    });

                    setTimeout(function () {
                        $(".shape").css({
                            "width": "50%",
                            "height": "50%",
                            "transform": "rotate(45deg)"
                        })

                        $(".overbox .title").fadeIn(300);
                        $(".overbox .input").fadeIn(300);
                        $(".overbox .button").fadeIn(300);
                    }, 700)

                    $(this).removeClass('material-button');

                }

                if ($(".alt-2").hasClass('material-buton')) {
                    $(".alt-2").removeClass('material-buton');
                    $(".alt-2").addClass('material-button');
                }

            });

        });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
